@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  color: grey;
  text-decoration: none;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header .left-links, .header .right-links {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #eeeeee;
}

.footer .left-links, .footer .right-links {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
